.venv
.vscode
__pycache__

temp
logs
plugins
htmlcov
build
dist

*.csv
*.parquet
*.xlsx
*.env
*.egg-info
*.mypy_cache
*.pytest_cache
*.typed
.coverage
.tox

sourcefiles/**/*.json
sourcefiles/**/from_pipeline/
